
#title{
  background-color:#111d5e;
}
.container-fluid{
  padding:3% 15% 7%;
  position: relative;
  z-index: 1;



}
/* nav bar */
.navbar{
  padding:0 0 4rem;
}
.navbar-brand{
  font-family:"Ubuntu";
  font-size:2.5rem;

}

.nav-item{
  padding:0 10 15rem;
}
.nav-link{
  font-size:1.2rem;
  font-family: "Montserrat-light";
}

h1{
font-family: "Montserrat-black";
font-size:3.5rem;
line-height:1.5;
font-weight: bold;
color: white;
}
h2{
  font-family: "Montserrat-black";
font-size:1.5rem;
line-height:1.5;
font-weight: bold;
color: white;

}
.title-image{
  transform: rotate(25deg);

  width: 60%;
  position:relative;
z-index:3;
margin-top: 2ex;
left: 30%;
}
body{
  font-family:Montserrat;
}

/* features section */
#features{
    padding: 7% 15%;

  background-color: white;
  position:relative;
  z-index: 2;

}
.feature-box{
  text-align: center;
  padding: 5%;
}

h2{
  font-family: "Montserrat-bold";
  font-size: 2rem;
  line-height: 1.5;
}
h3{

  font-family: "Montserrat-bold";
}
p{
  color: #8f8f8f;
}
.icon{
  color: #111d5e;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #111d5e;
}
/* testimonial section */
#testimonials {

  text-align:center;
  background-color:#111d5e;
  color: #fff;

}
.testimonial-image{
  width:40%;
  border-radius: 50%;
margin: 20px;
}
.carousel-item{
  padding:7% 15%;
}


#press {
  background-color: #111d5e;
  text-align: center;
  padding-bottom:3%;
}
.press-logo{
  width:15%;
  margin:20px 20px;
}
/* pricing section */
#pricing{
  text-align: center;
  padding:100px;
}
.pricing-column{
  padding:3% 5%;
}
@media(max-width:1091px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0deg);

  }
}
#cta{
  text-align: center;
  color: white;

}

  .bottom-text{
    font-family: "Montserrat-block";
    font-weight:bolder;
    font-size: 3rem;
}
#footer{
  text-align: center;
margin-top: 3%;

}
.foot-icon{

  color: black;
  margin: 20px 10px;
}
hr{
  border-top: 1px dashed black;
  border-left: 50ex;
  border-right: 50ex;
  border-radius: 50px;
}
.gbolahan{
  margin-top: 2ex;
  margin-left: 2ex;
  margin-bottom: 2ex;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.vera{
  font-size:larger;
  font-weight: bolder;
}
.form-group{
  text-align: justify;
  font-size: larger;
  font-weight: bold;
  margin-top: 5ex;
margin-left: 10ex;
margin-right: 10ex;
}
em{font-size: 3ex;
  font-weight: bolder;

}